<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.spring.mappers.SQLScanMapper.SQLBlockMapper" >
  <sql id="sqlBlockColumnList">
    id, name, blockType, blockContent, startLineNum, endLineNum, baseType, scriptId, productId, operId
  </sql>
  <!--<resultMap id="BaseResultMap" type="com.huawei.spring.catalogue.User" >-->
    <!--<id column="id" property="id" jdbcType="INTEGER" />-->
    <!--<result column="name" property="name" jdbcType="VARCHAR" />-->
    <!--<result column="age" property="age" jdbcType="INTEGER" />-->
    <!--&lt;!&ndash;<result column="address" property="address" jdbcType="VARCHAR"/>&ndash;&gt;-->
  <!--</resultMap>-->
  <!--<select id="findUserByName" resultType="com.huawei.spring.catalogue.User" parameterType="String">-->
    <!--select * from USER where name = #{name}-->
  <!--</select>-->

  <!--<sql id="Base_Column_List" >-->
    <!--id, name, age-->
  <!--</sql>-->

  <!--<select id="getAll" resultMap="BaseResultMap"  >-->
    <!--SELECT-->
    <!--<include refid="Base_Column_List" />-->
    <!--FROM user-->
  <!--</select>-->

  <!--<select id="findUserByName" parameterType="java.lang.String" resultMap="BaseResultMap" >-->
    <!--SELECT-->
    <!--<include refid="Base_Column_List" />-->
    <!--FROM user-->
    <!--WHERE NAME = #{name}-->
  <!--</select>-->

  <insert id="addBlock" parameterType="com.huawei.spring.catalogue.SQLScan.SQLBlock" >
    INSERT INTO sql_block()
  </insert>

  <!--<update id="update" parameterType="com.kerry.model.User" >-->
    <!--UPDATE-->
    <!--user-->
    <!--SET-->
    <!--<if test="name != null">name = #{name},</if>-->
    <!--<if test="age != null">age = #{age},</if>-->
    <!--address = #{address}-->
    <!--WHERE-->
    <!--id = #{id}-->
  <!--</update>-->

  <!--<delete id="delete" parameterType="java.lang.Integer" >-->
    <!--DELETE FROM-->
    <!--user-->
    <!--WHERE-->
    <!--id =#{id}-->
  <!--</delete>-->

</mapper>
