<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.spring.mappers.SQLScanMapper.SqlPackageMapper">

  <sql id="columns">
    id, name, version, size, path, baseType, type, created, taskId
  </sql>
  <resultMap id="classSqlPackage" type="com.huawei.spring.catalogue.SQLScan.SqlPackage">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="version" property="version" jdbcType="VARCHAR"/>
    <result column="size" property="size" jdbcType="BIGINT"/>
    <result column="path" property="path" jdbcType="VARCHAR"/>
    <result column="baseType" property="baseType" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="VARCHAR"/>
    <result column="created" property="created" />
    <result column="taskId" property="taskId" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="findByTaskId" resultMap="classSqlPackage" parameterType="String">
    SELECT <include refid="columns"/> FROM sql_package WHERE taskId = #{taskId}
  </select>

  <insert id="addSqlPackage" parameterType="com.huawei.spring.catalogue.SQLScan.SqlPackage">
    INSERT INTO
    sql_package(id, name, version, size, path, type, created, taskId)
    VALUES (#{id}, #{name}, #{version}, #{size}, #{path}, #{type}, #{created}, #{taskId})
  </insert>

  <delete id="deleteByTaskId" parameterType="String">
    DELETE FROM sql_package WHERE taskId = #{taskId} limit 100
  </delete>

</mapper>