<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="stylesheet" th:href="@{/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css}" />
  <link rel="stylesheet" th:href="@{/js/lib/bootstrap-table-master/dist/bootstrap-table.css}" />
  <link rel="stylesheet" th:href="@{/css/common.css}" />  <!--th:href="@{~/css/bootstrap.css}-->
  <link rel="stylesheet" th:href="@{/css/jenkins.css}" />
  <title>SQLSCAN请求错误</title>
</head>
<body>
<div class="alert alert-danger" role="alert">
  <h2>请求被拦截, 请联系管理员！</h2>
</div>
</body>
</html>